<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<h1 align="center" style="color:Tomato">Mein Beispiel fur die Funktionsweise meines Playbooks</h1>
    {% if ansible_os_family == "Debian" %}
        <h2 align="center" style="color:black">Das ist ein Server des domains {{ dir_names.1 }}</h2>
      {% endif %}
    {% if ansible_os_family == "RedHat" %}
        <h2 align="center" style="color:black">Das ist ein Server des domains {{ dir_names.2 }}</h2>
      {% endif %}
            <p align="center" style="color:black">Diese Seite dient zum Testen der ordnungsgemassen Funktion des <strong>nginx</strong> HTTP-Server, nachdem es Eingerichtet. Wenn Sie diese Seite lesen konnen, bedeutet dies, dass die der auf dieser Seite installierte Webserver funktioniert richtig.</p>
</html>
